.erp-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;

  .erp-content-card {
    .form-body {
      .filter-row {
        display: flex;
        align-items: center;
      }
    }

    .form-footer-actions {
      display: flex;
      justify-content: center;
      margin: 20px;
      .action-buttons-group {
        display: flex;
        gap: 12px;
      }

      .erp-btn {
        padding: 10px 20px;
        font-weight: bold;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
        box-shadow: 0 4px 6px -1px rgba(22, 163, 74, 0.2);
        width: 140px;
        color: var(--white-color);
        font-size: 14px;

        &.btn-save,
        &.btn-save-new {
          background-color: var(--green-color);
          &:hover:not(:disabled) {
            background-color: var(--dark-green-color);
            transform: translateY(-2px);
          }
        }

        &.btn-delete {
          background-color: var(--red-color);

          &:hover {
            background-color: var(--dark-red-color);
            transform: translateY(-2px);
          }
        }
        &.btn-copy {
          background-color: var(--baby-blue-color);

          &:hover {
            background-color: var(--dark-baby-blue-color);
            transform: translateY(-2px);
          }
        }
        &.btn-back {
          background-color: var(--gray-color);

          &:hover {
            background-color: var(--dark-gray-color);
            transform: translateY(-2px);
          }

          &:active {
            transform: translateY(0);
          }

          i {
            font-size: 14px;

            transition: transform 0.3s ease;
          }

          &:hover i {
            transform: translateX(-3px);
          }
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    .d-none {
      display: none !important;
    }
  }
}

.custom-tabs-wrapper {
  border-bottom: none;
  gap: 2px;
  .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 0 0 5px;
    gap: 5px;

    .nav-item {
      flex: 0 0 auto;

      .custom-tab-btn {
        border: 1px solid var(--accent-color);
        border-bottom: none;
        margin-bottom: -1px;
        padding: 5px 10px;
        font-size: 14px;

        &:hover {
          background: var(--primary-color);
          color: var(--white-color);
        }

        &.active {
          color: var(--white-color);
          background: var(--primary-color);
        }
      }
    }
  }

  .tab-content-area {
    padding: 0 !important;
    background: transparent;
    min-height: 150px;
  }
}
