<app-dynamic-form-page-component
  [config]="{ title: 'role', showSaveAndNewBtn: false, showCopyBtn: false }"
  [controls]="formConfig"
  [initialData]="editData()"
  [isLoading]="isLoading()"
  (onSave)="handleSave($event)"
  (onSaveAndNew)="handleSaveAndNew($event)"
  (onDelete)="handleDelete()"
  (onCancel)="handleCancel()"
  [tabs]="['permissions']"
  [isExtraDataValid]="isTableValid()"
  #roleForm
>
  @for (tab of tabsConfig; track $index) {
    <div [hidden]="roleForm.activeTab !== $index">
      <app-dynamic-details-table-component
        [config]="tab"
        (onDataChange)="tab.data.set($event)"
        (statusChange)="isTableValid.set($event)"
      >
      </app-dynamic-details-table-component>
    </div>
  }
</app-dynamic-form-page-component>
