<app-dynamic-list-page-component
  [config]="{ title: 'tenants' }"
  [columns]="columns"
  [items]="items()"
  [metaData]="metaData()"
  [isLoading]="isLoading()"
  [query]="query()"
  [filterConfigs]="filterConfigs"
  (onPageSizeChange)="onPageSizeUpdate($event)"
  (onPageChange)="changePage($event)"
  (onSearch)="onSearchManual($event)"
  (onSort)="onSort($event)"
  (onAdd)="addTenant()"
  (onEdit)="editTenant($event)"
  (onDelete)="deleteTenant($event)"
  (onFilterChange)="onFilterChanged($event)"
>
</app-dynamic-list-page-component>
