<app-dynamic-list-page-component
  [config]="{ title: 'tenants' }"
  [columns]="columns"
  [items]="items()"
  [metaData]="metaData()"
  [isLoading]="isLoading()"
  [query]="query()"
  [filterConfigs]="filterConfigs"
  (onPageSizeChange)="onPageSizeChanged($event)"
  (onPageChange)="onPageChanged($event)"
  (onSearch)="onSearch($event)"
  (onSort)="onSort($event)"
  (onAdd)="onAdd()"
  (onEdit)="onEdit($event)"
  (onDelete)="onDelete($event)"
  (onFilterChange)="onFilterChanged($event)"
>
</app-dynamic-list-page-component>
