<div class="details-table-wrapper">
  <div class="table-scroll-container">
    @if (config.showAddBtn) {
      <button type="button" class="btn-add-inline" (click)="addRow()">
        {{ 'addNew' | translate }}
      </button>
    }
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          @for (col of config.columns; track col.fieldName) {
            <th class="dynamic-column-header">{{ col.label | translate }}</th>
          }
          <th class="text-center action-header">
            <span>{{ 'actions' | translate }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        @for (row of config.data(); track row; let i = $index) {
          <tr class="table-row">
            @for (col of config.columns; track col.fieldName) {
              <td>
               <div class="cell-content-wrapper">
                  <app-dynamic-input-component
                    [config]="col"
                    [form]="getRowForm(i, row)"
                    [showLabel]="false"
                    class="w-100"
                  ></app-dynamic-input-component>
                </div>
              </td>
            }
            @if (config.showDeleteBtn) {
              <td class="text-center">
                @if (!(config.required && config.data().length <= 1)) {
                  <button type="button" class="btn-delete-row" (click)="removeRow(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
