$theme-1-primary: #24292e;
$theme-1-secondary: #2f363d;
$theme-1-accent: #444d56;

$theme-2-primary: #334155;
$theme-2-secondary: #475569;
$theme-2-accent: #64748b;

$theme-3-primary: #3d5245;
$theme-3-secondary: #4d6657;
$theme-3-accent: #5d7a69;

:root {
  --primary-color: #{$theme-1-primary};
  --secondary-color: #{$theme-1-secondary};
  --accent-color: #{$theme-1-accent};

  --white-color: #ffffff;
  --light-gray-color: #d6d6d6;
  --gray-color: #6b7280;
  --dark-gray-color: #424242;
  --green-color: #16a34a;
  --dark-green-color: #0e682f;
  --baby-blue-color: #17aae4;
  --dark-baby-blue-color: #0077b6;
  --red-color: #dc2626;
  --dark-red-color: #9b1919;
  --yellow-color: #f59e0b;
  --dark-yellow-color: #9b6509;
}
