.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1; 
  padding: 15px;
  overflow-y: auto;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
}
