.erp-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
  overflow: hidden;

  .erp-header-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5px;

    .right-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .search-filters-column {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .filter-row {
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
    }

    .left-actions {
      display: flex;
      align-items: flex-end;
      padding-left: 20px;

      .btn-add {
        width: 140px;
        padding: 10px 20px;
        font-weight: bold;
        color: var(--white-color);
        background-color: var(--green-color);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px -1px rgba(22, 163, 74, 0.2);
        cursor: pointer;

        &:hover {
          background-color: var(--dark-green-color);
          transform: translateY(-2px);
        }

        i {
          font-size: 14px;
        }
      }
    }
  }

  .erp-content-card {
    flex: 1;
    overflow: hidden;
  }
}
