@if (!isLoading()) {
  <app-dynamic-form-page-component
    [config]="{}"
    [controls]="formConfig"
    [initialData]="editData()"
    [isLoading]="isLoading()"
    (onSave)="handleSave($event)"
    (onSaveAndNew)="handleSaveAndNew($event)"
    (onDelete)="handleDelete()"
    (onSaveAndNew)="handleSaveAndNew($event)"
    (onCopy)="handleCopy()"
    [tabs]="tabLabels"
    [isExtraDataValid]="isTableValid()"
    #inventoryTransactionLineForm
  >
    @for (tab of tabsConfig; track $index) {
      <div [hidden]="inventoryTransactionLineForm.activeTab !== $index">
        <app-dynamic-details-table-component
          [config]="tab"
          (onDataChange)="tab.data.set($event)"
          (statusChange)="isTableValid.set($event)"
          [parentForm]="inventoryTransactionLineForm.form"
        >
        </app-dynamic-details-table-component>
      </div>
    }
  </app-dynamic-form-page-component>
}
