@use './styles/themes';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--light-gray-color);
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: var(--bg-light-gray-color);
  color: var(--text-black-color);
  font-family: 'Cairo', sans-serif !important;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--bg-primary-color);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}
[dir='rtl'] {
  .toast-container {
    direction: rtl;
    text-align: right;

    .toast-message,
    .toast-title {
      text-align: right;
    }
  }
}
