<div class="sidebar" [class.collapsed]="collapsed">
  <div class="logo" [routerLink]="['/home']" routerLinkActive="active-logo">
    <i class="fas fa-home" style="margin-inline-end: 10px; font-size: 18px"></i>
    <span>{{ 'home' | translate }}</span>
  </div>

  <ul class="menu">
    @for (module of menus(); track module.key) {
      <li>
        @if (module.screens) {
          <div
            (click)="toggleMenu(module.key)"
            class="menu-item menu-link"
            [class.active]="isOpen(module.key)"
          >
            <span class="text">{{ getName(module) }}</span>
            <i class="fas fa-chevron-down arrow-icon" [class.rotated]="isOpen(module.key)"></i>
          </div>

          <ul class="submenu" [class.open]="isOpen(module.key)">
            @for (screen of module.screens; track screen.key) {
              <li>
                <a
                  [routerLink]="['/home', module.route, screen.route]"
                  routerLinkActive="active"
                  class="menu-link sub-link"
                >
                  <span class="text">{{ getName(screen) }}</span>
                </a>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</div>
