@use '../../../../../styles/variables.scss' as vars;

.sidebar {
  width: 220px;
  height: 100vh;
  position: sticky;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  background: var(--primary-color);
  color: var(--white-color);

  font-family: 'Roboto', sans-serif;
}

.sidebar.collapsed {
  width: 0;
  opacity: 0;
  pointer-events: none;
}
.logo {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1px;
  color: var(--white-color);
  border-bottom: 1px solid var(--gray-color);
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;

  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: var(--secondary-color);
  }

  i {
    transition: transform 0.2s;
  }

  &:active i {
    transform: scale(0.9);
  }
}

.menu {
  list-style: none;
  margin: 0;
  flex: 1;
}

.menu > li {
  margin: 4px 12px;
  position: relative;
  border-bottom: 1px solid var(--gray-color);
}

.menu > li:last-child {
  border-bottom: none;
}

.menu-link,
.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  gap: 12px;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: var(--white-color);

  white-space: nowrap;
}

.menu-link:hover,
.menu-item:hover {
  background: var(--secondary-color);
  transform: translateX(5px);
}

.menu-link.active,
.menu-item.active {
  background: var(--accent-color);
}

.submenu {
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: 5px 0 5px 15px;
  max-height: 0;
  transition:
    max-height 0.3s ease,
    margin 0.2s ease,
    padding 0.2s ease;

  border-left: 2px solid transparent;
}

.submenu.open {
  max-height: 500px;
  margin: 5px 0 5px 15px;
  border-left: 2px solid var(--accent-color);
}

.submenu .sub-link {
  display: flex;
  align-items: center;
  padding: 9px 20px;
  font-size: 14px;
  color: var(--white-color);
  border-radius: 6px;
  transition: all 0.18s ease;
}

.submenu .sub-link:hover {
  background: var(--secondary-color);
  color: var(--white-color);
}

.submenu .sub-link.active {
  background: var(--secondary-color);
  color: var(--white-color);
  font-weight: 500;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
